@font-face {
    font-family: orbitron-reg;
    src: url("font/Orbitron-Regular.ttf");
}

@font-face {
    font-family: orbitron-med;
    src: url("font/Orbitron-Medium.ttf");
}

@font-face {
    font-family: orbitron-bold;
    src: url("font/Orbitron-Bold.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #111111;
    --color-gray: #1f1f1f;
    --color-gray-light: #252525;
    --color-red-dark: #940000;
    --color-red: #c30101;
    --color-red-light: #ff0000;
}

.dont_show { display: none; }
.show { display: block; }
.h-0 { height: 0; }
.font-type-reg { font-family: orbitron-reg; }
.font-type-med { font-family: orbitron-med; }
.font-type-bold { font-family: orbitron-bold; }
.font-body { font-family: Calibri;}
.font-size-med { font-size: medium; }
.font-size-large { font-size: large; }
.font-size-larger { font-size: larger; }

body {
    background-color: var(--color-bg);
    color: white;
    overflow-x: hidden;
}

/* ===================== NAVBAR ==================== */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    position: fixed;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul{
    list-style-type: none;
}

.hamb-icon {
    height: auto;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4%;
    cursor: pointer;
}

.hamb-line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.hamb-line:nth-child(1) {
}
.hamb-line:nth-child(2) {
    margin: 5px 0;
}
.hamb-line:nth-child(3) {
}

#hamb-menu {
    background-color: var(--color-gray-light);
    overflow: hidden;
}

.show-navmenu {
    height : 147px;
    transition : all 0.5s;
}

.hamb-list {
    padding: 15px 0 15px 15px;
}

.hamb-list:hover {
    cursor: pointer;
    color: var(--color-red-light);
}

.navbar-title {
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.navbar-text {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--color-red-dark);
}

.skew-rect {
    width: 6px;
    height: 10px;
    margin-left: 15px;
    transform: skew(-40deg);
    background-color: var(--color-red);
    border: 0;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: var(--color-red);
    margin-left: 10px;
}

.hr-line {
    width: 30px;
    height: 2px;
    margin-left: 5px;
    background-color: var(--color-red);
}

/* =================================================== */

.menu-section {
    padding-top: 60px;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    width: fit-content;
}

.head-img {
    width: 50px;
}

.head-line {
    width: 7px;
    height: 50px;
    margin-left: 10px;
    margin-right: 3px;
    background-color: var(--color-red-dark);
}

.head-line:nth-child(2) {
    width: 3px;
    margin-left: 0;
    margin-right: 10px;
}

.head-title {
    margin-left: 10px;
    color: var(--color-red-light);
}

#lvl_input {
    width: 100%;
}

/* reset style of select */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.select {
    border: 1px solid steelblue;
    color: white;
    font-size: 10px;
    cursor: pointer;
    padding-right: 0;
}

#construct_result {
    display: none;
}

/* @media (min-width: 600px) {

} */