@font-face {
    font-family: orbitron-reg;
    src: url("font/Orbitron-Regular.ttf");
}

@font-face {
    font-family: orbitron-med;
    src: url("font/Orbitron-Medium.ttf");
}

@font-face {
    font-family: orbitron-bold;
    src: url("font/Orbitron-Bold.ttf");
}

@font-face {
    font-family: plusjakartasans;
    src: url("font/PlusJakartaSans-Regular.ttf");
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --color-bg: #111111;
    --color-gray: #1f1f1f;
    --color-gray-light: #252525;
    --color-red-dark: #940000;
    --color-red: #c30101;
    --color-red-light: #fa1616;
}

.dont_show { display: none; }
.show { display: block; }
.h-0 { height: 0; }
.font-type-reg { font-family: orbitron-reg; }
.font-type-med { font-family: orbitron-med; }
.font-type-bold { font-family: orbitron-bold; }
.font-body { font-family: plusjakartasans; }
.font-size-med { font-size: medium; }
.font-size-large { font-size: large; }
.font-size-larger { font-size: larger; }

body {
    background-color: var(--color-bg);
    color: white;
    overflow-x: hidden;
}

/* ===================== NAVBAR ==================== */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    position: fixed;
    width: 100%;
    z-index: 999;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
}

#hamb-icon {
    height: auto;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    cursor: pointer;
}

.hamb-line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all .3s ease-in-out;
    position: relative;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamb-line:nth-child(2) {
    margin: 5px 0;
}

.hamb-line:nth-child(1),
.hamb-line:nth-child(3) {
    top: 0;
}

#hamb-icon.open .hamb-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
}

#hamb-icon.open .hamb-line:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamb-icon.open .hamb-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 2px;
}

#hamb-menu {
    background-color: var(--color-gray-light);
    overflow: hidden;
    transition: height 0.3s;
}

#hamb-menu.open {
    height: 180px;
}

.hamb-list a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 20px;
    color: white;
}

.hamb-list a:hover {
    color: var(--color-red-light);
}

.navbar-title {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-text {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--color-red-dark);
}

.skew-rect {
    width: 6px;
    height: 10px;
    margin-left: 15px;
    transform: skew(-40deg);
    background-color: var(--color-red);
    border: 0;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: var(--color-red);
    margin-left: 10px;
}

.hr-line {
    width: 30px;
    height: 2px;
    margin-left: 5px;
    background-color: var(--color-red);
}

/* =================================================== */

.menu-section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin: 0 5%;
}

/* initial display */
#menu-construct, #menu-cub, #menu-serum,
#btn-calculate-wrapper, #result {
    display: none;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    width: fit-content;
}

.head-img {
    width: 50px;
}

.shape-line {
    width: 7px;
    height: 50px;
    margin-right: 3px;
    background-color: var(--color-red);
}

.shape-line:nth-child(2) {
    width: 3px;
    margin-left: 0;
    margin-right: 10px;
}

.head-title {
    margin-left: 10px;
    color: var(--color-red-light);
}

.input-title {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    margin-bottom: 10px;
}

.input-name {
    margin-right: 10px;
}

/* ========== construct level input =============== */

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 80%;
    margin: 0 15px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 25px;
    width: 25px;
    background-color: var(--color-red-light);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

/* Thumb: firefox */
input[type="range"]::-moz-range-thumb {
    /* creating a custom design */
    height: 25px;
    width: 25px;
    background-color: var(--color-red-light);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

/* Hover Thumb: Webkit */
input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, .2);
}

/* Hover and active Thumb: Firfox */
input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 13px rgba(255, 255, 255, .2);
}
/* buat test coba pakai focus dan active */

.shape-triangle {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--color-red);
    margin-right: 10px;
}

.level-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider-button {
    background-color: var(--color-red);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: var(--color-red-light);
    cursor: pointer;
}

/* ================ Rank input ================*/

/* reset select style */
select {
    appearance: none;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 15px;
    pointer-events: none;
    width: 0; 
    height: 0; 
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid var(--color-red);
    padding: 0;
    font-weight: bolder;
    color: black;
    
}

.select {
    border: 3px solid var(--color-red);
    border-radius: 5px;
    cursor: pointer;
    width: 15ch;
    padding: 5px;
}

.select:hover {
    border: 3px solid var(--color-red-light);
}

/* ===================== skills ======================= */

.minmax {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid transparent;
    padding: 5px;
}

.minmax:hover, .minmax-toggle {
    border-bottom: 2px solid var(--color-red-light);
}

.btn-separator {
    cursor: default;
    margin: 0 5px;
    color: var(--color-red-light);
}

#skills-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
}

.skills-title {
    width: fit-content;
    border-bottom: 1px solid var(--color-red-light);
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    font-family: plusjakartasans;
}

/* Firefox */
input[type=number] {
    font-family: plusjakartasans;
    appearance: textfield;
    border: 3px solid var(--color-red);
    text-align: center;

}

.input-num-button {
    background-color: var(--color-red);
    border-color: var(--color-red-light);
    cursor: pointer;
}
.input-num-button div{
    color: white;
    font-size: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=number] {
    width: 3ch;
    height: 29px;
    font-size: inherit;
}

.skills-input label {
    cursor: pointer;
}
.skills-input label:hover {
    color: var(--color-red-light);
}

.skill-leader {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/* =============== MEMORY =================== */

#memory-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}

.memory-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.memory-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mem-number{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 2px;
    top: 13px;
    left: 24px;
}

.img-memory-wrapper{
    position: relative;
    width: fit-content;
}

.mem-slot-img {
    position: relative;
    width: 100px;
}

.mem-overclock-wrapper{
    position: absolute;
    top: 0;
    left: 0;
}

.mem-overclock-wrapper img{
    height: 18px;
}

.m-btn-overclock{
    background-color: var(--color-red);
    border-color: var(--color-red-light);
    cursor: pointer;
}

.m-btn-overclock div{
    color: white;
    font-size: 12px;
    padding: 4px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* =============== RESULT =================== */

#result {
    margin: 0 5%;
    padding-top: 50px;
    padding-bottom: 150px;
}

.result-title{
    font-size: 25px;
}

.result-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 104px);
    grid-auto-rows: 120px;
    gap: 10px;
}

.result-dontshow{
    display: none;
}

.result-show{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 3px solid var(--color-red);
}

.result-show img{
    width: 80px;
}

.result-show div{
    padding: 5px 0;
    font-size: 13px;
    text-align: center;
    width: 100%;
    border-top: 3px solid var(--color-red);
}

#btn-calculate-wrapper{
    background-color: rgba(17, 17, 17, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 7px;
}

.shape-skew-rect1 {
    width: 6px;
    height: 25px;
    margin-right: 20px;
    transform: skew(40deg);
    background-color: var(--color-red);
    border: 0;
}

.shape-dot1 {
    width: 5px;
    height: 5px;
    background-color: var(--color-red);
    margin-right: 10px;
}

.shape-hr-line1 {
    width: 30px;
    height: 2px;
    margin-right: 5px;
    background-color: var(--color-red);
}

.shape-skew-rect2 {
    width: 6px;
    height: 25px;
    margin-left: 20px;
    background-color: var(--color-red);
    transform: skew(-40deg);
    border: 0;
}

.shape-dot2 {
    width: 5px;
    height: 5px;
    background-color: var(--color-red);
    margin-left: 10px;
}

.shape-hr-line2 {
    width: 30px;
    height: 2px;
    margin-left: 5px;
    background-color: var(--color-red);
}

.btn-calculate {
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: var(--color-red-dark);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid var(--color-red-light);
}

.btn-calculate:hover {
    background-color: var(--color-red);
}

/* @media (min-width: 600px) {

} */